*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
app/.cxx
app/build
/captures
.externalNativeBuild
/.idea/dictionaries/silei.xml
.idea/statistic.xml
.idea
*saved_symbol_list.tmp
../../ttvebase/src/thirdparty/effect/include
../../format.log
/sizeDetect

